.question-container {
  margin: 0 auto;
  margin-top: 3.2rem;
  width: 90%;
  max-width: 96rem;

  h2 {
    font-size: 2.8rem;
    text-transform: capitalize;
    text-align: start;
    padding: 0.25em 0;
  }

  p {
    font-size: 1.8rem;
  }
}
