#main {
  width: min(95%, 76rem);
  margin: 0 auto;

  img {
    width: 100%;
    margin: 2rem 0;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 40px 0px rgba($color: #666, $alpha: 0.6);
  }

  p {
    margin: 1rem;

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
}
