.image-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .column {
    flex: 100%;
    max-width: 100%;

    img {
      width: 100%;
      margin-top: 1.6rem;
      vertical-align: middle;
      filter: brightness(0.6);
      transition: all 0.3s;
    }

    img:hover {
      filter: brightness(1);
    }
  }
}

@media screen and (min-width: 50em) {
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .column {
      flex: 25%;
      max-width: 33.3%;
      padding: 0 0.8rem;

      img {
        width: 100%;
        margin-top: 1.6rem;
        vertical-align: middle;
      }
    }
  }
}
